@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-sea-blue: rgb(169, 218, 222);
  --main-dark-color: rgba(255, 255, 255, 0);
  --main-gray-color: rgba(255, 255, 255, 0.932);
  --win-color: rgb(111, 188, 111);
  --lost-color: rgb(245, 59, 59);
  --modal-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--main-sea-blue);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 0 2rem;
}

.header h1 {
  background: linear-gradient(to right,
      rgba(255, 0, 0, 0.373), rgba(255, 166, 0, 0.717),
      rgb(255, 225, 0), green,
      blue, indigo, rgb(6, 1, 6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restart-btn {
  background: var(--main-gray-color);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--main-gray-color);
  border-radius: 4px;
  margin: 0.8rem 0;
  font-size: 1.1rem;
}

.restart-btn:hover {
  background: var(--win-color);
  border: 1px solid var(--win-color);
  cursor: pointer;
  color: var(--main-gray-color);
}