@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-sea-blue: rgb(169, 218, 222);
  --main-dark-color: #000000;
  --main-gray-color: rgba(255, 255, 255, 0.932);
  --win-color: rgb(4, 174, 4);
  --lose-color: rgb(245, 59, 59);
  --modal-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--main-sea-blue);
  z-index: -1;
}

.container {
  max-width: 1100px;
  min-height: 95vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 0 2rem;
}

.header h1 {
  background: linear-gradient(to right,
      rgba(255, 0, 0, 0.373), rgba(255, 166, 0, 0.717),
      rgb(255, 225, 0), green,
      blue, indigo, rgb(6, 1, 6));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.restart-btn {
  display: none;
  background: var(--main-gray-color);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--main-gray-color);
  border-radius: 4px;
  margin: 0.8rem 0;
  font-size: 1.1rem;
}

.restart-btn:hover {
  background: var(--win-color);
  border: 1px solid var(--win-color);
  cursor: pointer;
  color: var(--main-gray-color);
}

.score {
  font-size: 1.2rem;
  padding: 0.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 700px) {
  .score {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .score {
    font-size: 0.8rem;
  }
}

.score p:first-child {
  color: var(--win-color);
  background: var(--main-gray-color);
  padding: 0.2rem;
}

.score p:last-child {
  color: var(--lose-color);
  background: var(--main-dark-color);
  padding: 0.2rem;
}

.container h2 {
  margin: 0.3rem 0 2.5rem 0;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.choice {
  transition: 0.3s ease-out;
}

.choice:hover {
  cursor: pointer;
  color: var(--main-gray-color);
  transform: translateY(-1rem);
}

@media (max-width: 700px) {
  .choice {
    font-size: 6.875rem;
  }
}

@media (max-width: 500px) {
  .choice {
    font-size: 5rem;
  }
}


.hints p {
  margin-top: 3rem;
  font-size: 1.2rem;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: var(--main-gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin: 10% auto;
  width: 22rem;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25),
    0 8px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer {
  background: var(--main-gray-color);
  text-align: center;
}

footer p a {
  text-decoration: none;
}